{% extends "base.html.twig" %}
{% block title %}
    Create post
{% endblock %}

{% block content %}
    {{ form_start(form_category, {'attr': {'class': 'category_form'}}) }}
    {{ form_widget(form_category) }}
    <input type="submit" value="Create" class="btn btn-success create-post-btn" />
    {{ form_end(form_category) }}
{% endblock %}

