{% extends 'base.html.twig' %}
{% block title %}
    Edit category: {{ form_category.vars.value.name }}
{% endblock %}
{% block content %}

    {{ form_start(delete_form, {'attr': {'class': 'delete_on_edit_form'}}) }}
    <input type="submit" class="btn btn-danger" value="Delete">
    {{ form_end(delete_form) }}

    {{ form_start(form_category, {'attr': {'class': 'category_form'}}) }}
    {{ form_widget(form_category) }}
    <input type="submit" value="Update" class="btn btn-success">
    {{ form_end(form_category) }}
{% endblock %}