{% extends 'base.html.twig' %}
{% block title %}
    Categories
{% endblock %}

{% block content %}
    <h1>Categories</h1>

    <div class="category-table-wrapper">
        <table class="category-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr class="{% if loop.index != 0 %}tr-m{% endif %}">
                    <td><a href="{{ path('category_view', { 'slug': category.slug }) }}">{{ category.name }}</a></td>
                    <td>{{ category.description|slice(0, 50) }}</td>
                    <td>
                        <a href="{{ path('category_edit', { 'slug': category.slug }) }}" class="btn bnt-primary"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
