{% extends "base.html.twig" %}
{% block title %}
    Category: {{ category.name }}
{% endblock %}

{% block content %}
    <div class="category">
        <h2>Category: {{ category.name }}</h2>
        <div class="description">Description: {{ category.description }}</div>
        <div class="actions">
            <a href="{{ path('category_edit', {'slug': category.slug}) }}" class="btn btn-primary">Edit</a>
            {{ form_start(delete_form, {'attr': {'class': 'delete_on_view'}}) }}
                <input type="submit" class="btn btn-danger" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>
    <div class="comments category-comments">
        <h3>Comments</h3>
        <div class="comments-list">
            {% for comment in category.comments %}
                {{ render(controller("AppBundle\\Controller\\CategoryController::renderComment", {'comment': comment})) }}
            {% endfor %}
        </div>
        {{ form_start(comment_form, {'attr': {'class': 'comment-form comment-form-hide'}}) }}
        {{ form_widget(comment_form) }}
        {{ form_end(comment_form) }}
        <a href="#" class="add-comment plus-btn-show"><i class="fa fa-plus-circle"></i></a>
    </div>
    {% if category.posts.count != 0 %}
    <h3>Posts</h3>
    <div class="category-posts">
        {% for post in category.posts %}
            {{ render(controller("AppBundle\\Controller\\CategoryController::renderPost", {'post': post})) }}
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}
