<div id="comment-{{ comment.id }}" class="comment">
    <div class="header">
        <p>
            <span class="created">{{ comment.createdAt|date("d-m-Y h:i:s") }}</span>
            by
            <span class="author">{{ comment.author }}</span>
        </p>
    </div>
    <hr>
    <div class="content">
        <p>
            {{ comment.content }}
        </p>
    </div>
</div>