<div class="post_item row">
    <div class="col-md-12">
        <a href="{{ path("post_view", {"slug": post.slug}) }}" class="item-post-link">
        <h3 class="name">{{ post.name }}</h3>
        </a>
    </div>
    <div class="col-md-6">
        <a href="{{ path("post_view", {"slug": post.slug}) }}" class="item-post-link">
        <img src="{{ post.filePath != '' and  post.filePath != null ? asset(post.filePath) : asset('img/build/no-image.png') }}" alt="{{ post.name }}" class="item-post-img">
        </a>
    </div>
    <div class="col-md-6">
        <p>Content: {{ post.content|slice(0, 50) }}</p>
        <a href="{{ path("post_edit", {"slug": post.slug}) }}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
    </div>
</div>