<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset("node_modules/font-awesome/css/font-awesome.css") }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap-grid.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap-reboot.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="header-wrapper col-md-8 col-lg-8">
                <div class="logo">
                    <a href="{{ path('home_page') }}">
                        <h1>
                            NOVA BLOG
                        </h1>
                    </a>
                </div>
                 <div class="menu">
                    <div class="dropdown show">
                        <a class="dropdown-toggle dropdown-btn" href="#" role="button" id="dropdownPost" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Posts
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownPost">
                            <a class="dropdown-item" href="{{ path("post_index") }}">View posts</a>
                            <a class="dropdown-item" href="{{ path("post_create") }}">Create post</a>
                        </div>
                    </div>
                    <div class="dropdown show">
                        <a class="dropdown-toggle dropdown-btn" href="#" role="button" id="dropdownCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Category
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownCategory">
                            <a class="dropdown-item" href="{{ path("category_index") }}">View categories</a>
                            <a class="dropdown-item" href="{{ path("category_create") }}">Create category</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>

            <section class="content col-md-8 col-lg-8   ">
            {% block content %}
                <p class="main-text">You read "NOVA BLOG"</p>
            {% endblock %}
            </section>

        </main>
        <footer>
            <div class="footer-wrapper col-md-8">
                <ul>
                    {% for item in visitors.getVisitor %}
                        <li>{{ item.browser }}: {{ item.user_count }}</li>
                    {% endfor %}
                </ul>
            </div>
        </footer>
        {% block javascripts %}
            <script rel="script" src="{{ asset('node_modules/popper.js/dist/umd/popper.js') }}"></script>
            <script rel="script" src="{{ asset('node_modules/jquery/dist/jquery.js') }}"></script>
            <script rel="script" src="{{ asset("node_modules/bootstrap/dist/js/bootstrap.js") }}"></script>
            <script rel="script" src="{{ asset("node_modules/bootstrap/dist/js/bootstrap.bundle.js") }}"></script>
            <script rel="script" src="{{ asset('js/scripts.js') }}"></script>
        {% endblock %}
    </body>
</html>
