.comment {
    border: 3px solid #00cc00;
    margin-bottom: 5px;
}

header{
    background-color: red;
}

.header-wrapper, .content{
    margin: auto;
}

.menu .dropdown .dropdown-btn{
    color: white;
    text-decoration: none;
}

.logo, .menu{
    display: inline-block;
}

.logo a{
    color: white;
    text-decoration: none;
}

.menu{
    float: right;
    margin-top: 10px;
}

.main-text{
    text-align: center;
    font-size: 40px;
}

.menu .dropdown{
    color: white;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.category_form, .post_form{
    border: 2px solid grey;
    border-radius: 10px;
    background-color: lightgrey;
    padding: 5px;
    margin-top: 10px;
}

.delete_on_edit_form{
    margin-top: 10px;
}

.delete_on_view{
    display: inline-block;
}

.post-edit-img{
    width: 100%;
    margin: 0px auto 10px auto;
}

.post_item, .post, .comments, .category{
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
.post_item{
    padding-left: 0px;
    padding-right: 0px;
}

.post_item .item-post-link{
    text-decoration: none;
    color: black;
}

.post-comments, .category-posts{
    margin-bottom: 40px;
}

.category-table-wrapper{
    background-color: lightgrey;
    border-radius: 10px;
    border: 2px solid grey;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}

.category-table{
    width: 100%;
}

.category-table thead{
    border-bottom: 2px solid grey;
}

.category-table .tr-m{
    border-top: 1px solid grey;
}

.category-table thead, .category-table tbody {
    width: 100%;
}

.category-comments{
    margin-bottom: 10px;
}

.comment{
    background-color: whitesmoke;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.comment-form-hide{
    display: none;
}

.plus-btn-hide{
    display: none;
}

.item-post-img{
    width: 100%;
}

footer{
    background-color: grey;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
}

.footer-wrapper{
    color: white;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

footer ul{
    margin: auto;
    font-size: 20px;
    display:inline-block;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

footer li{
    display: inline;
    margin: 0px 10px 0px 10px;
}