{% extends "base.html.twig" %}
{% block title %}
    Create post
{% endblock %}

{% block content %}
    {{ form_start(form_post, {'attr': {'class': 'post_form'}}) }}
    {{ form_widget(form_post) }}
    <input type="submit" value="Create" class="btn btn-success create-post-btn">
    {{ form_end(form_post) }}
{% endblock %}