{% extends "base.html.twig" %}
{% block title %}
    Update post: {{ form_post.vars.value.name }}
{% endblock %}

{% block content %}
    {{ form_start(delete_form, {'attr': {'class': 'delete_on_edit_form'}}) }}
    <input type="submit" class="btn btn-danger" value="Delete">
    {{ form_end(delete_form) }}

    {{ form_start(form_post, {'attr': {'class': 'post_form'}}) }}
    {{ form_widget(form_post) }}
    <img src="{{ asset(file_path) }}" class="post-edit-img" alt="">
    <input type="submit" value="Update" class="btn btn-success">
    {{ form_end(form_post) }}
{% endblock %}