{% extends "base.html.twig" %}
{% block title %}
    Post: {{ post.name }}
{% endblock %}

{% block content %}
    <div class="post">
        <h2>Post: {{ post.name }}</h2>
        <div class="category-text">Category: {{ post.category.name }}</div>
        <div class="image"><img class="post-edit-img" src="{{ post.filePath != '' and  post.filePath != null ? asset(post.filePath) : asset('img/build/no-image.png') }}" alt="{{ post.name }}"></div>
        <div class="content">Content: {{ post.content }}</div>
        <div class="actions">
            <a href="{{ path('post_edit', {'slug': post.slug}) }}" class="btn btn-primary">Edit</a>
            {{ form_start(delete_form, {'attr': {'class': 'delete_on_view'}}) }}
                <input type="submit" class="btn btn-danger" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>
    <div class="comments post-comments">
        <div class="comments-list">
            <h3>Comments</h3>
            {% for comment in post.comments %}
                {{ render(controller("AppBundle\\Controller\\PostController::renderComment", {'comment': comment})) }}
            {% endfor %}
        </div>
        {{ form_start(comment_form, {'attr': {'class': 'comment-form comment-form-hide'}}) }}
        {{ form_widget(comment_form) }}
        {{ form_end(comment_form) }}

        <a href="#" class="add-comment plus-btn-show"><i class="fa fa-plus-circle"></i></a>
    </div>
{% endblock %}
